 <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>THE HACKING PROJECT, Vos questions, nos réponses</h2>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>






<section class="company-description">
	<div class="container">
		 <div class="row">
            <div class="block">
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >"Si c'est gratuit c'est toi le produit". Comment vous faîtes de l'argent ?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".5s" >
                    1. Nous vous proposons du travail en fin de formation, en échange de cette mise en relation nous sommes gratifiés par la société qui vous recrute.<br>
                    2. Nous donnons des cours payants en entreprise.<br>
                    3. Nous vous proposons de faire des dons en fin de formation si vous avez été satisfaits.<br><br>
                    Notre modèle scalable d'éducation en peer-learning permet de former un grand nombre de personnes à un prix très réduit. Nous savons que nous pouvons faire quelque chose de grand avec la formation de plusieurs centaines de personnes au métier le plus demandé actuellement.
                </p>
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Je ne suis pas disponible à plein temps. Possible de faire du temps partiel ?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".7s" >
                    Non !<br><br>
                    Le principe de The Hacking Project est de proposer une formation intense, avec un rythme soutenu, et une communauté qui s'entraide. Proposer un équivalent "doucement le matin pas trop vite l'après-midi" où les gens ne participent pas à la communauté et suivent la formation à leur rythme est contradictoire avec notre vision de la formation. Pour le moment nous n'avons pas prévu de faire de temps partiel !
                </p>
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Je suis dispo à temps plein, mais j'ai des rendez-vous Pôle-Emploi de temps en temps, c'est grave ?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".7s" >
                    La formation est intense, mais nous comprenons les obligations de certaines personnes. Il arrive d'être malade et/ou absent pour une raison ou une autre, et nous ne vous fliquerons pas. Sachez seulement que manquer une journée donne un retard pas facile à rattraper, et votre rythme en pâtira, et donc les chances de finir la formation.<br>
                    Après, manquer une à deux journées par mois peut le faire.
                </p>
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >C'est grave si je manque une semaine ?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".7s" >
                    Oui. Manquer une journée donne un retard pas facile à rattraper, et votre rythme en pâtira, et donc les chances de finir la formation.
                </p>
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Et si je dois abandonner en plein milieu (ou vers la fin) car j'ai trouvé un taf ou bien [insert reason here] ?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".7s" >
                    Si c'est le taf de tes rêves, nous n'allons pas t'empêcher de faire la formation. Sache cependant que cela constitue un abandon et nous encaisserons la caution.
                </p>
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Ah tiens justement, c'est quoi cette histoire de caution ?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".7s" >
                    Nous sommes très contents de proposer une formation gratuite, et ouverte à tous sans sélection. Cependant, comme nous ne faisons pas de sélection, n'importe qui peut venir, et peut repartir en plein milieu. Et nous ne voulons pas cela car :<br>
                    1. Cela fout en l'air les groupes (imagine un groupe dont la moitié s'en va au bout de trois jours)<br>
                    2. Cela fout en l'air nos stats<br><br>
                    Ainsi nous avons mis en place un système de caution. Si tu abandonnes, nous l'encaissons. Si tu n'abandonnes pas, nous ne l'encaissons pas. La caution est indispensable pour nous pour deux raisons :<br>
                    1. Cela permet d'éviter les curieux qui s'en vont au bout de trois jours car "en fète codé c dur lol"<br>
                    2. Cela vous donnera une incitation à rester, car le jeu en vaut la chandelle<br><br>
                    C'est un excellent système qui a fait ses preuves, et qui fait en sorte que les moussaillons de la formation ne soient pas des petits rigolos qui viennent et repartent comme bon leur semble.
                </p>
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s">Moi je veux des profs qui me donnent des cours. Il y en aura ?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".7s" >
                    Pas au sens ou l'éducation nationale l'entend. Il y aura des développeurs seniors, des corsaires alumni, mais pas de professeurs qui donnent des cours devant une classe. Vous aurez le droit à des vidéos d'explications... Et sur le Slack des explications vous seront données par des camarades qui auront compris avant vous comment fonctionne tel ou tel élément.
                </p>
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Il y a un système de "groupe de travail", comment ca marche ?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".7s" >
                    On a compris avec notre première session que c'est le fait de travailler en équipe qui te permettra d'avancer et de réussir les projets. L'équipe permet de se surpasser, et l'esprit de corps soude les gens. Nous allons donc prendre toute la communauté de The_Hacking_Project et constituer des équipes de ~6 personnes qui travailleront ensemble sur les projets. Vous vous retrouverez tous les matins, prendrez un café, et vous mettrez ensemble au taff. Et irez très probablement prendre une bière ensemble le soir ! Bien entendu, si tu motives 5-6 potes à toi et que vous avez envie de vous mettre ensemble, aucun souci pour cela !
                </p>
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Vous n'avez pas de salles de classe ? Comment on fait pour se retrouver et travailler ensemble ?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".7s" >
                    On vous donne totale autonomie sur la notion d'emplacement géographique. Si ton équipe a envie de se retrouver chez l'un d'entre vous sur des canapés, vous êtes libres de le faire. Si ton équipe décide de tester tous les cafés coworking de votre ville, vous êtes libres de le faire. Si ton équipe décide de se cotiser ensemble pour prendre des locaux, vous êtes libres de le faire. Si ton équipe trouve un parc avec du wifi et des prises, vous êtes libres de le faire.

                    Par ailleurs nous sommes en contact avec le milieu du squat et avons des "bons plans" pour vous permettre de travailler dans un lieu propre et qui ne vous coûtera rien 😎.
                </p>
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s">Et si il n'y a personne dans la ville dans laquelle j'habite? ?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".7s" >
                    Nous vous proposons :<br>
                    1. De recruter quelqu'un qui recrutera quelqu'un qui recrutera quelqu'un, etc... jusqu'à ce qu'un groupe soit constitué.<br>
                    2. De déménager le temps de la formation sur Paris ou sur la grande ville proche de chez toi.
                </p>
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Quel matériel faut-il?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".5s" >
                   Juste un ordinateur portable.
                   Pour la puissance tout dépend de ce que tu souhaites faire après la formation et si tu as déjà, oui ou non, un ordinateur. On te recommande d'acheter un PC d'environ 800€-900€ (évite les portable de 17 pouces, quand tu te déplaceras ca deviendra casse pieds). Le minimum à mettre pour ton PC (juste pour la formation): 300€.
                   Il vous sera demandé, pour les utilisateurs de Windows de faire un "dual boot" sur votre machine et d'installer Linux (ceux sur macOS n'auront pas à faire ça). En effet faire du Rails sous Windows est un enfer et nous ne pourrons en aucun cas vous aider si vous décidez de garder Windows pour apprendre. En ce qui concerne les machines virtuelles nous vous déconseillons leur utilisation.
                </p>
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Vous parlez de 42 comme une référence. En quoi êtes-vous semblables et différents à la fois ?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".7s" >
                    42 est une énorme inspiration pour nous. Leur esprit, leur logique, leur façon d'enseigner... Tout nous plaît dans cette école. Nous avons deux différences majeures avec 42 : <br>
                    Notre formation est en 11 semaines, la leur en quelques années (si tu es bon). <br>
                    Ils ont de superbes locaux, nous vous proposons le système D, la débrouille et les squats. N'est pas corsaire qui veut 😛
                </p>
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Quelles sont les débouchés après la formation ?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".5s" >
                    La formation dure 2 mois 1/2 et n'a aucune prétention à faire de vous des ingénieurs logiciels payés 40k€ en CDI directement après la formation (sauf certains d'entres vous qui sont excellents). Cependant, nous savons que votre profil attirera plus d'une entreprise. Vous êtes corsaires après tout : débrouillard, efficace en équipe, et avec la volonté d'apprendre ; que des qualités pour être de bons devs. Ainsi, pour ceux qui veulent se lancer dans une carrière de dev, nous vous conseillons de signer un contrat de stage ou CDD pendant quelques mois le temps de continuer à apprendre. Après ces quelques mois, vous pourrez prétendre à de chouettes CDIs si vous êtes aussi bons que durant The Hacking Project.<br>
                    Des missions de freelance sont tout à fait possible.<br>
                    Tu peux aussi lancer le site de la startup de tes rêves, ou appliquer ta double compétence pour donner un gros boost à ta carrière.<br>
                </p>
                <h2 class="subtitle wow fadeInUp" data-wow-delay=".3s" >Je n'ai pas le temps de faire la formation mais j'ai envie de vous soutenir, comment faire ?</h2>
                <p  class="wow fadeInUp" data-wow-delay=".7s" >
                    Tu peux parler de nous tout autour de toi. Parler à des journalistes, à tes amis, à ta maman, bref fais du bruit !
                </p>
            </div>
        </div>
	</div>
<br><br><br>
	<!--
        ==================================================
        Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">Je veux m'inscrire ou prendre contact avec vous!</h1>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms"></p>
                            <%= link_to ("Je veux m'inscrire"), inscription_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                            <%= link_to ("Je veux prendre contact"), contact_path, class:"btn btn-default btn-contact wow fadeInDown"%>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
