
<div id="inscription-initial">
    <section id="feature">
        <div class="container">
            <div class="section-heading">
                <h1>INSCRIPTION SESSION OCTOBRE FERMÉE</h1>
                        

                <h2>Si vous souhaitez prendre de l'avance pour la session Hiver (janvier), vous pouvez:</h2>
                <br>

                <h4>
                    1 - <a href="https://doc.ubuntu-fr.org/installation" target="_blank">Installer Linux pour les utilisateurs windows</a> (les Mac ont déjà un coeur UNIX donc pas besoin d'installer pour vous)
                    <br><br>
                    2 - <a href="https://www.theodinproject.com/courses/web-development-101/lessons/installations" target="_blank">Installer git, RVM, Rails,etc...</a> Nous vous recommandons d'utiliser Atom ou Sublim Text comme éditeur de texte si vous êtes 100% débutant.
                    <br><br>
                    3 - Faire <a href="https://openclassrooms.com/courses/lancez-vous-dans-la-programmation-avec-ruby" target="_blank">la track Ruby de Openclassrooms</a>, pas besoin de la validation du projet final par openclassroom pour nous rejoindre, il vous suffira de nous envoyer votre code ;)
                </h4>
                <br>
                <br>
                <br>
                <p style="font-weight: 900;">Enfin, nous vous invitons à nous<a href="https://www.facebook.com/thehackingproject/"> suivre sur facebook </a>pour savoir quand vous pourrez vous inscire pour la session de janvier.</p>
            </div>
		</div>
	</section>
</div>


