
<div id="inscription-initial">

            <section id="feature">
                <div class="container">
                    <div class="section-heading">
                        <h1 class="title wow fadeInDown" >INSCRIPTIONS</h1>
                        <p class="wow fadeInDown" >
                            Nous sommes en train de préparer un beau formulaire avec le prélèvement de la carte. On t'enverra un mail quand il sera prêt. D'ici là, tu peux remplir <a href="https://goo.gl/forms/e2MiYniJ3At3iVmH2" target="_blank">ce formulaire de keep in touch</a> !
                        </p>
                        <p>
                        	Nous demanderons à tous les moussaillons avant de commencer la formation :<br>
                        	- De faire <a href="https://openclassrooms.com/courses/lancez-vous-dans-la-programmation-avec-ruby" target="_blank">la track Ruby de Openclassrooms</a><br>
                        	- D'installer Linux (ou macOS sur leurs ordinateurs)<br><br><br>
                        	Tu peux donc tavancer et les faire !
                        </p>
                    </div>
				</div>
			</section>


